
@model IEnumerable<Oberon.Models.ProductoPedido>
@section scripts{
    <script>
        function cambiarPrecio(input) {
            var precio = $(input.parentNode.parentNode).siblings()[3];
            
            $(precio).text((precio.dataset.value * $(input).val()).toFixed(2) + "€");
            $("#mensaje").text("Ha habido modificaciones en tu carrito!");
            $("#fin").addClass("disabled");
        }
    </script>
}
<div class="container my-5">
    <div class="card shopping-cart">
        <div class="card-header bg-dark text-light">
            <i class="fa fa-shopping-cart mt-2 pt-1" aria-hidden="true">  </i>
            Tu carrito

        </div>
        <div class="card-body ">

            @if (Model != null && Model.Count() > 0)
            {
                @using (Html.BeginForm())
                {
                    <div class=" table-responsive-sm table-responsive-md">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Producto</th>
                                    <th>Talla</th>
                                    <th>Unidades</th>
                                    <th>Precio</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 0;}


                                @Html.AntiForgeryToken()

                                @foreach (ProductoPedido p in Model)
                                {

                                    <tr>
                                        <td class="align-middle"><a asp-action="Producto" asp-controller="Home" asp-route-id_producto="@p.Producto.Id_Producto" class="thumbnail pull-left"> <img class=" rounded z-depth-2 img-fluid mr-3" src="~/images/Productos/@p.Producto.Imagen" style="max-width: 150px"> </a></td>
                                        <td class="align-middle">@p.Producto.Nombre><input type="hidden" id="id_producto" name="id" class="text-hide" value="@i"></td>
                                        <td class="align-middle">@p.Size<input type="hidden" id="size" name="size" class="text-hide" value="@p.Size"></td>
                                        <td class="align-middle">
                                            <div class="def-number-input number-input m-0">
                                                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown(), cambiarPrecio(this.parentNode.querySelector('input[type=number]'))" class="minus"></button>
                                                <input class="quantity" min="1" name="unidades" value="@p.Unidades" type="number" oninput="cambiarPrecio(this)">
                                                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp(), cambiarPrecio(this.parentNode.querySelector('input[type=number]'))" class="plus"></button>
                                            </div>
                                        </td>
                                        <td class="align-middle" id="@i" data-value="@p.Producto.Precio">@(@p.Producto.Precio * @p.Unidades)€</td>
                                        <td class="align-middle"><a asp-action="Carrito" asp-controller="Home" asp-route-id="@i"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a></td>
                                    </tr>
                                    i++;
                                }


                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-outline-primary  btn-sm">Actualizar carrito</button>

                        <div class="float-right" style="margin: 5px">
                            <h5>Precio total: <b class="text-info"><span id="total">@ViewBag.Total</span> €</b></h5>
                        </div>
                    </div>
                }
                <div class="card-footer">

                    <div class="float-right">
                        <span id="mensaje" class="text-warning text-muted"></span>
                        <a asp-action="AñadirPedido" asp-controller="Home" class="btn btn-sm btn-outline-success" id="fin">Finalizar pedido</a>

                    </div>
                </div>
            }
            else if (ViewBag.Mensaje != null)
            {
                <h4 class="modal-title text-success" id="myModalLabel">@ViewBag.Mensaje</h4>
            }
            else
            {
                <h4 class="modal-title text-warning" id="myModalLabel">Aun no has añadido productos al carrito</h4>
            }
        </div>


        
    </div>
</div>
