@{
    ViewData["Title"] = "_PartialMenuUsuario";
}


<ul class="navbar-nav nav-flex-icons ">
    @if (Context.User.Identity.IsAuthenticated != false)
    {
        <li class="nav-item">
            <a class="nav-link waves-effect  hvr-underline-from-center" data-toggle="modal" data-target="#modalCart">
                <span class="badge red z-depth-1 mr-1 "> @HttpContextAccessor.HttpContext.Session.GetInt32("carritoCount")</span>
                <i class="fa fa-shopping-cart "></i>
                <span class="clearfix d-none d-sm-inline-block  "> Carrito </span>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="Cuenta" asp-controller="Usuario" class="nav-link waves-effect  hvr-underline-from-center @(@ViewContext.RouteData.Values["action"].ToString() == "Cuenta" ? "active1" : "")">@Context.User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <a asp-action="Logout" asp-controller="Validacion" class="nav-link waves-effect  hvr-underline-from-center"> Cerrar sesión</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-action="Login" asp-controller="Validacion" class="nav-link hvr-underline-from-center @(@ViewContext.RouteData.Values["action"].ToString() == "Login" ? "active1" : "")">Login</a>
        </li>
        <li class="nav-item">
            <a asp-action="Registro" asp-controller="Validacion" class="nav-link hvr-underline-from-center @(@ViewContext.RouteData.Values["action"].ToString() == "Registro" ? "active1" : "")">Registro</a>
        </li>
    }

</ul>


 