@{
    ViewData["Title"] = "_PartialMenuUsuario";
    int? count = ViewBag.Count;
}
@model Oberon.Models.Usuario


<ul class="navbar-nav nav-flex-icons ">
    @if (Model != null)
    {
        <li class="nav-item">
            <a class="nav-link waves-effect  hvr-underline-from-center" data-toggle="modal" data-target="#modalCart">
                @if (count > 0)
                {
                    <span class="badge red z-depth-1 mr-1 ">
                        @count
                    </span>
                }
                <i class="fa fa-shopping-cart "></i>
                <span class="clearfix d-none d-sm-inline-block  "> Carrito </span>
            </a>
        </li>
        <li class="nav-item">
            @if (Model.Rol == "admin")
            {
                <a asp-area="Admin" asp-action="Index" asp-controller="Admin" class="nav-link waves-effect  hvr-underline-from-center @(@ViewContext.RouteData.Values["controller"].ToString() == "Admin" ? "active1" : "")">@Model.User</a>
            }
            else
            {
                <a asp-action="Perfil" asp-controller="Usuario" class="nav-link waves-effect  hvr-underline-from-center @(@ViewContext.RouteData.Values["controller"].ToString() == "Usuario" ? "active1" : "")">@Model.User</a>
            }

        </li>
        <li class="nav-item">
            <a asp-action="Logout" asp-controller="Validacion" class="nav-link waves-effect  hvr-underline-from-center"> Cerrar sesión</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-action="Login" asp-controller="Validacion" class="nav-link hvr-underline-from-center @(@ViewContext.RouteData.Values["action"].ToString() == "Login" ? "active1" : "")">Login</a>
        </li>
        <li class="nav-item">
            <a asp-action="Registro" asp-controller="Validacion" class="nav-link hvr-underline-from-center @(@ViewContext.RouteData.Values["action"].ToString() == "Registro" ? "active1" : "")">Registro</a>
        </li>
    }

</ul>


